<div class="loan-info card mb-3">
  <h5 class="card-header">Loan Info</h5>
  <div class="card-body">
    <h5 class="card-title">ID: <%= loan.id%> <span class="badge bg-secondary float-end"><%= loan.loan_status.name%></span></h5>
    <p class="card-text"><small class="text-muted">Invoice Number: </small> #<%= loan.invoice.invoice_number%></p>
    <p class="card-text"><small class="text-muted">Payment Principle: </small> <%= loan.payment_principle.name%></p>
    <p class="card-text"><small class="text-muted">Duration: </small> <%= loan.duration%> months</p>
    <p class="card-text"><small class="text-muted">Loan Amount: </small> <%= loan.loan_amount.round(4)%>$</p>
    <p class="card-text"><small class="text-muted">Recieved Amount: </small> <%= loan.recieved_amount.round(4)%>$</p>
    <p class="card-text"><small class="text-muted">Total Interest: </small> <%= loan.total_interest.round(4)%>$</p>
    <p class="card-text"><small class="text-muted">Total Amount: </small> <%= loan.total_amount.round(4)%>$</p>
    <%= link_to "Go Loan Detail", user_loan_path(loan.id), class: 'btn btn-primary' %><br />
  </div>
</div>