<div id="loans">
  <h1 class="mb-4">Loan Management</h1>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">User Name</th>
          <th scope="col">Invoice Number</th>
          <th scope="col">Status</th>
          <th scope="col">Principle</th>
          <th scope="col">Down Payment($)</th>
          <th scope="col">Loan Amount($)</th>
          <th scope="col">Recieved Amount($)</th>
          <th scope="col">Interest Rate(%)</th>
          <th scope="col">Duration</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Total Interest($)</th>
          <th scope="col">Total Amount($)</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @loans.each do |loan|%>
          <tr>
            <th scope="row"><%= loan.id%></th>
            <td><%= loan.user.name%></td>
            <td><%= loan.invoice.invoice_number%></td>
            <td><%= loan.loan_status.name%></td>
            <td><%= loan.payment_principle.name%></td>
            <td><%= loan.down_payment.round(4)%></td>
            <td><%= loan.loan_amount.round(4)%></td>
            <td><%= loan.recieved_amount.round(4)%></td>
            <td><%= loan.interest_rate%></td>
            <td><%= loan.duration%></td>
            <td><%= loan.start_date.to_formatted_s(:long)%></td>
            <td><%= loan.due_date.to_formatted_s(:long)%></td>
            <td><%= loan.total_interest.round(4)%></td>
            <td><%= loan.total_amount.round(4)%></td>
            <td class="text-center">
              <%= link_to "View Detail", user_loan_path(loan.id), class: 'btn btn-info btn-sm m-2' %>
              <%= link_to "Payment Schedule", payment_schedules_path(loan_id: loan.id), class: 'btn btn-primary btn-sm m-2' %>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
  <%= paginate @loans %>
</div>