<div id="loan">
  <h1 class="mb-4">Loan Detail</h1>
  <div class="card-group">
    <%= render 'loan_info', loan: @loan%>
    <%= render 'invoices/invoice_info', invoice: @invoice%>
  </div>
  <%= render 'users/user_info', user: @loan.user%>
  <div class="mt-4 mb-4">
    <h5>Payment Schedule Info</h5>
    <%= render 'payment_schedules/payment_schedule_info', payment_schedules: @payment_schedules%>
  </div>
</div>