<div class="invoice-info card mb-3">
  <h5 class="card-header">Invoice Info</h5>
  <div class="card-body">
    <h5 class="card-title">#<%= invoice.invoice_number%></h5>
    <p class="card-text"><small class="text-muted">Invoice Date: </small> <%= invoice.invoice_date.to_formatted_s(:long)%></p>
    <p class="card-text"><small class="text-muted">Issuer: </small> <%= invoice.issuer.email%></p>
    <p class="card-text"><small class="text-muted">Product Price: </small> <%= invoice.product_price.round(4)%>$</p>
    <p class="card-text"><small class="text-muted">Tax Amount: </small> <%= invoice.tax_amount.round(4)%>$</p>
    <p class="card-text"><small class="text-muted">Total Price: </small> <%= invoice.total_price.round(4)%>$</p>
    <%= link_to "Go Invoice Detail", invoice_path(invoice.id), class: 'btn btn-primary' %><br />
  </div>
</div>