<div class="card">
  <div class="card-image">
    <%= product.product.images ? image_tag(product.product.images, class: 'card-img-top') : ''%>
  </div>
  <div class="card-body">
    <h5 class="card-title">ID:<%= product.id%> - <%= product.product_name%></h5>
    <p class="card-text"><small class="text-muted">Color: </small> <%= product.color%> months</p>
    <p class="card-text"><small class="text-muted">Unit Price: </small> <%= product.unit_price.round(4)%>$</p>
    <p class="card-text"><small class="text-muted">Quantity: </small> <%= product.qty%></p>
    <p class="card-text"><small class="text-muted">Total Price: </small> <%= product.total_price.round(4)%>$</p>
  </div>
  <div class="card-footer text-center">
    <%= link_to "Go Product Detail", product_path(product.id), class: 'btn btn-primary' %>
  </div>
</div>