<div id="invoices">
  <h1 class="mb-4">Invoice Management</h1>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col"># Invoice</th>
          <th scope="col">Invoice Date</th>
          <th scope="col">Issuer</th>
          <th scope="col">Buyer Name</th>
          <th scope="col">Product Price($)</th>
          <th scope="col">Tax Amount($)</th>
          <th scope="col">Total Price($)</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @invoices.each do |invoice|%>
          <tr>
            <th scope="row"><%= invoice.id%></th>
            <td><%= invoice.invoice_number%></td>
            <td><%= invoice.invoice_date.to_formatted_s(:long)%></td>
            <td><%= invoice.issuer.email%></td>
            <td><%=invoice.buyer.name %></td>
            <td><%= invoice.product_price.round(4)%></td>
            <td><%= invoice.tax_amount.round(4)%></td>
            <td><%= invoice.total_price.round(4)%></td>
            <td class="text-center">
              <%= link_to "View Detail", invoice_path(invoice.id), class: 'btn btn-info btn-sm m-2' %>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
  <%= paginate @invoices %>
</div>