<div id="invoice">
  <h1 class="mb-4">Invoice Detail</h1>
  <%= render 'invoice_info', invoice: @invoice%>
  <%= render 'users/user_info', user: @invoice.buyer%>
  <div class="card-group">
    <% @invoice.products.each do |product|%>
      <%= render 'invoices/product_info', product: product%>
    <%end%>
  </div>
</div>