<p data-controller="user"></p>
<%= form_with model: user, class: 'row' do |form| %>
  <div class="col-10 mb-4">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
    <% user.errors.full_messages_for(:name).each do |message| %>
      <div class="invalid-feedback"><%= message %></div>
    <% end %>
  </div>

  <div class="col-10 mb-4">
    <%= form.label :date_of_birth, class: "form-label" %>
    <%= form.text_field :date_of_birth, type: :date, class: "form-control" %>
    <% user.errors.full_messages_for(:date_of_birth).each do |message| %>
      <div class="invalid-feedback"><%= message %></div>
    <% end %>
  </div>

  <div class="col-10 mb-4">
    <%= form.label :phone_number, class: "form-label" %>
    <%= form.text_field :phone_number, type: :number_to_phone, class: "form-control" %>
    <% user.errors.full_messages_for(:phone_number).each do |message| %>
      <div class="invalid-feedback"><%= message %></div>
    <% end %>
  </div>

  <div class="col-10 mb-4">
    <%= form.label :address, class: "form-label" %>
    <%= form.text_area :address, class: "form-control" %>
    <% user.errors.full_messages_for(:address).each do |message| %>
      <div class="invalid-feedback"><%= message %></div>
    <% end %>
  </div>

  <div class="col-10 mb-4" data-controller="upload">
    <%= form.label :profile_photo, class: "form-label" %>
    <%= form.file_field :profile_photo, direct_upload: true, data: { upload_target: 'input', action: "change->upload#uploadFile" } %>
    <div>
      <% if user.profile_photo.representable? %>
        Profile Photo: <%= image_tag user.profile_photo.representation(resize_to_limit: [200, 200]), class:"w-80 ml-4", id: "img-preview" %>
      <% end %>
    </div>
    <% user.errors.full_messages_for(:profile_photo).each do |message| %>
      <div class="invalid-feedback"><%= message %></div>
    <% end %>
  </div>

  <div class="col-10 mb-4" data-controller="upload">
    <%= form.label :images, class: "form-label" %>
    <%= form.file_field :images, multiple: true, direct_upload: true, data: { upload_target: 'input', action: "change->upload#uploadFiles" } %>
    <div id='imgs-preview'>
      <%= render 'products/image_slider', images: user.images%>
    </div>
    <% user.errors.full_messages_for(:images).each do |message| %>
      <div class="invalid-feedback"><%= message %></div>
    <% end %>
  </div>

  <div class="col-10">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>