<div class="user-info card mb-3">
  <h5 class="card-header">User Info</h5>
  <div class="row g-0">
    <div class="col-md-4">
      <% if user.profile_photo.representable? %>
        <%= image_tag user.profile_photo.representation(resize_to_limit: [200, 200]), class:"w-80 ml-4" %>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%=user.name%></h5>
        <p class="card-text"><small class="text-muted">Phone Number: </small><%=user.phone_number%></p>
        <p class="card-text"><small class="text-muted">Address: </small><%=user.address%></p>
        <p class="card-text"><small class="text-muted">Gender: </small><%=user.gender%></p>
        <p class="card-text"><%=user.date_of_birth ? "<small class='text-muted'>Date of birth: #{user.date_of_birth.to_formatted_s(:long)} </small>".html_safe : ''%></p>
        <p class="card-text"><small class="text-muted">last updated <%=user.updated_at.to_formatted_s(:long)%></small></p>
        <%= link_to "Go User Detail", user_path(user.id), class: 'btn btn-primary' %><br />
      </div>
    </div>
  </div>
</div>

