<div id="users">
  <div class="row justify-content-between mb-4 align-items-center">
    <div class="col-8">
      <h1>User Management</h1>
    </div>
    <div class="col-4 text-end">
      <%= link_to "ADD User", new_user_path(), class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Profile Photo</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Gender</th>
          <th scope="col">DOB</th>
          <th scope="col">Address</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user|%>
          <tr>
            <th scope="row"><%= user.id%></th>
            <td><%= user.name%></td>
            <td>
              <% if user.profile_photo.representable? %>
                <%= image_tag user.profile_photo.representation(resize_to_limit: [200, 200]), class:"w-80 ml-4" %>
              <% end %>
            </td>
            <td><%= user.phone_number%></td>
            <td><%= user.gender%></td>
            <td><%= user.date_of_birth ? user.date_of_birth.to_formatted_s(:long) : ''%></td>
            <td><%= user.address%></td>
            <td class="text-center">
              <%= link_to "Detail", user_path(user.id), class: 'btn btn-info btn-sm m-2' %>
              <%= link_to "Edit", edit_user_path(user.id), class: 'btn btn-primary btn-sm m-2' %>
              <%= link_to "Delete", user_path(user),
                data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure you want to delete this?"
                }, class: 'btn btn-danger btn-sm m-2'%>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
  <%= paginate @users %>
</div>