<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Payment Date</th>
        <th scope="col">Begining Balance($)</th>
        <th scope="col">Interest($)</th>
        <th scope="col">Principle($)</th>
        <th scope="col">Penalty($)</th>
        <th scope="col">Payment Amount($)</th>
        <th scope="col">Ending Balance($)</th>
      </tr>
    </thead>
    <tbody>
      <% payment_schedules.each do |payment_schedule|%>
        <tr>
          <th scope="row"><%= payment_schedule.id%></th>
          <td><%= payment_schedule.payment_date.to_formatted_s(:long)%></td>
          <td><%= payment_schedule.begining_balance%></td>
          <td><%= payment_schedule.interest%></td>
          <td><%= payment_schedule.principle%></td>
          <td><%= payment_schedule.penalty%></td>
          <td><%= payment_schedule.payment_amount%></td>
          <td><%= payment_schedule.ending_balance%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
<%= paginate payment_schedules %>