<div id="payment-schedules">
  <h1 class="mb-4">Payment Schedule</h1>
  <%= link_to "Back To Loan Management", user_loans_path, class: 'btn btn-primary' %>
  <div class="mt-5 mb-5 card-group">
    <%= render 'users/user_info', user: @loan.user%>
    <%= render 'user_loans/loan_info', loan: @loan%>
  </div>
  <%= render 'payment_schedules/payment_schedule_info', payment_schedules: @payment_schedules%>
</div>