<p data-controller="product"></p>
<%= form_with model: product, class: 'row' do |form| %>
  <div class="col-10 mb-4">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
    <% product.errors.full_messages_for(:name).each do |message| %>
      <div class="invalid-feedback"><%= message %></div>
    <% end %>
  </div>

  <div class="col-10 mb-4">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
    <% product.errors.full_messages_for(:description).each do |message| %>
      <div class="invalid-feedback"><%= message %></div>
    <% end %>
  </div>

  <div class="col-10 mb-4">
    <%= form.label :images, class: "form-label" %>
    <%= form.file_field :images, multiple: true, direct_upload: true %>
    <div>
      <%= render 'image_slider', images: product.images%>
    </div>
    <% product.errors.full_messages_for(:images).each do |message| %>
      <div class="invalid-feedback"><%= message %></div>
    <% end %>
  </div>

  <%# Variants %>
  <div class="col-10 mb-4">
    <fieldset>
      <%= form.fields_for :variants, local: true do |f| %>
        <%= render 'variant_fields', f: f%>
      <% end %>

      <%= link_to_add_fields "Add Variant", form, :variants %>
      <p data-controller="variant"></p>
    </fieldset>
  </div>

  <div class="col-10">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>