<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <%= render 'image_slider', images: product.images%>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= product.name%></h5>
        <p class="card-text"><%= product.description%></p>
        <p class="card-text"><small class="text-muted">Last updated <%=product.updated_at.to_formatted_s(:long)%></small></p>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <%= render 'product_variant_info', product_variants: product.variants%>
</div>