<ol class="list-group list-group-numbered list-group-flush">
  <%product_variants.each do |variant|%>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <% if variant.color?%>
          Color: <strong><%=variant.color%></strong>
          <br />
        <%end%>
        <% if variant.price?%>
          Price: <strong><%=variant.price%>$</strong>
          <br />
        <%end%>
        <% if variant.dimension?%>
          Dimension: <strong><%=variant.dimension%></strong>
          <br />
        <%end%>
        <% if variant.weight?%>
          Weight: <strong><%=variant.weight%></strong>
          <br />
        <%end%>
      </div>
      <span class="badge bg-primary rounded-pill"><%=variant.qty%></span>
    </li>
  <%end%>
</ol>