<div class='nested-fields row border ms-1 mb-3 p-3'>
  <div class="col-6 mb-4">
    <%= f.label :color, class: "form-label" %>
    <%= f.text_field :color, class: "form-control" %>
  </div>

  <div class="col-6 mb-4">
    <%= f.label :dimension, class: "form-label" %>
    <%= f.text_field :dimension, class: "form-control" %>
  </div>

  <div class="col-6 mb-4">
    <%= f.label :price, class: "form-label" %>
    <%= f.text_field :price, type: :number, step: "any", class: "form-control" %>
  </div>

  <div class="col-6 mb-4">
    <%= f.label :qty, class: "form-label" %>
    <%= f.text_field :qty, type: :number, class: "form-control" %>
  </div>

  <div class="col-6 mb-4">
    <%= f.label :weight, class: "form-label" %>
    <%= f.text_field :weight, type: :number, step: "any", class: "form-control" %>
  </div>

  <div class="form-check">
    <%= f.check_box :_destroy, class: "form-check-input" %>
    <label class="form-check-label text-danger" for="flexCheckChecked">
      Delete
    </label>
  </div>
</div>
