<div id="products">
  <div class="row justify-content-between mb-4 align-items-center">
    <div class="col-8">
      <h1>Product Management</h1>
    </div>
    <div class="col-4 text-end">
      <%= link_to "ADD Product", new_product_path(), class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Image</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product|%>
          <tr>
            <th scope="row"><%= product.id%></th>
            <td><%= product.name%></td>
            <td><%= product.description%></td>
            <td>
              <% product.images.take(1).each do |file| %>
                <% if file.representable? %>
                  <%= image_tag file.representation(resize_to_limit: [100, 100])%>
                <%end%>
              <%end%>
            </td>
            <td class="text-center">
              <%= link_to "Detail", product_path(product.id), class: 'btn btn-info btn-sm m-2' %>
              <%= link_to "Edit", edit_product_path(product.id), class: 'btn btn-primary btn-sm m-2' %>
              <%= link_to "Delete", product_path(product),
                data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure you want to delete this?"
                }, class: 'btn btn-danger btn-sm m-2'%>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
  <%= paginate @products %>
</div>