<aside class='bd-sidebar'>
  <% if admin_signed_in? %>
    <nav class='collapse bd-links' id='system-nav'>

      <ul class='list-unstyled mb-0 py-3 pt-md-1'>
        <li class='mb-1'>
          <%= link_to "Log Out", destroy_admin_session_path, data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure you want to log out?"
                  }, class: 'btn d-inline-flex align-items-center rounded collapsed text-danger'%><br />
        </li>
        <li class='mb-1'>
          <%= link_to "User Management", users_path, class: 'btn d-inline-flex align-items-center rounded collapsed' %><br />
        </li>

        <li class='mb-1'>
          <%= link_to "Product Management", products_path, class: 'btn d-inline-flex align-items-center rounded collapsed' %><br />
        </li>

        <li class='mb-1'>
          <%= link_to "Loan Management", user_loans_path, class: 'btn d-inline-flex align-items-center rounded collapsed' %><br />
        </li>

        <li class='mb-1'>
          <%= link_to "Invoice Management", invoices_path, class: 'btn d-inline-flex align-items-center rounded collapsed' %><br />
        </li>
      </ul>
    </nav>
  <%end%>
</aside>
