<!DOCTYPE html>
<html>
  <head>
    <title>LoanSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container-xxl my-md-4 bd-layout">
      <%= render 'layouts/nav'%>
      <div class="overflow-scroll">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
